nav {
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 4vw;
    font-size: 1.2vw;
}

.brand {
    width: 200px;
    height: auto;
}

.left {
    align-items: center;
}

.nav-items {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    margin-left: 2vw;
}

.nav-icons {
    list-style-type: none;
    align-items: center;
    gap: 20px;
}

.icon {
    align-items: center;
}